<article class="contact__wrapper">
    <header>
        <h1 id="contact">Contact Us</h1>
    </header>
    <section>
        <!-- action="https://humananatomy3d.app/app/php/email/v1/SendSupportMailFromWebsite.php" -->
        <div class="form">
            <input type="text" placeholder="your email address goes here" id="fromEmail">
            <span class="alert form-alert" id="emailError">your email address isn't valid</span>
            <textarea placeholder="your message goes here" id="message">
            </textarea>
            <button class="btn btn--contact" type="submit" id="contactSubmit">send <svg
                    xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="32" height="32"
                    viewBox="0 0 24 24" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="10" y1="14" x2="21" y2="3" />
                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" />
                </svg>
            </button>
            <span class="alert form-alert alert--failure" id="otherError">Something went wrong. Try us on <a href="https://twitter.com/graphicvizion" target="_blank" style="font-weight: 600; color: #eee; text-decoration: underline;">Twitter</a> instead.</span>
            <span class="alert form-alert alert--success" id="success">Thanks! We'll contact you shortly.</span>
        </div>
    </section>
</article>