<article class="download__wrapper max-w-screen-lg">
    <header>
        <h1 id="download">
            download now
        </h1>
    </header>
    <section class="download__content">
        <a class="platform__wrapper" href="https://apps.apple.com/il/app/visual-anatomy-3d-human/id1148048602" target="_blank">
            <% include /store-icons/ios.svg %>
                <h2>
                    iOS
                </h2>
                <div class="btn btn--store">
                    go to store
                </div>
            </a>
        <a class="platform__wrapper" href="https://play.google.com/store/apps/details?id=com.graphicvizion.visualAnatomyHumanFr" target="_blank">
            <% include /store-icons/android.svg %>
                <h2>
                    Android
                </h2>
                <div class="btn btn--store">
                    go to store
                </div>
            </a>
        <a class="platform__wrapper" href="https://apps.apple.com/il/app/visual-anatomy-3d-human/id1148048602" target="_blank">
            <% include /store-icons/macos.svg %>
                <h2>
                    macOS
                </h2>
                <div class="btn btn--store">
                    go to store
                </div>
        </a>
        <a class="platform__wrapper" href="https://www.microsoft.com/en-us/p/visual-anatomy-human-body/9nblggh4qg21" target="_blank">
            <% include /store-icons/windows.svg %>
                <h2>
                    Windows
                </h2>
                <div class="btn btn--store">
                    go to store
                </div>
            </a>
    </section>
</article>