<article class="reviews-wrapper">
    <header>
        <h1 id="reviews">
            Glowing reviews
        </h1>
    </header>
    <section>
        <ul class="reviews">
            <% reviews.forEach((review)=> { %>
                <li class="review">
                    <div class="rating-wrapper">
                        <div class="rating">
                            <% for (let step=0; step <=review.stars * 10; step +=5) { %>
                                <% if (step> 0) { %>
                                    <label class="<%= (step % 2 == 0) ? 'full' : 'half' %> <%= step %>"></label>
                                    <% } %>
                                        <% } %>
                                            <% if (review.stars * 10 % 2 !==0) { %>
                                                <label class="full" style="color: transparent"></label>
                                                <% } %>
                        </div>
                        <a href="<%= review.link %>">
                            <%= review.site %>
                        </a>
                    </div>
                    <blockquote>
                        <%= review.quote %>
                    </blockquote>
                    <label class="review__name">
                        <%= review.name %>
                    </label>
                </li>
                <% }) %>
        </ul>
    </section>
</article>