---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<% include /hero %>

<% include /blurb %>

<div class="inset">

  <% include /info %>

</div>

<% include /screenshots %>

<% include /systems %>

<div class="inset">

  <% include /pricing %>

  <% include /download %>

</div>

<% include /reviews %>

<% include /contact %>