.contact__wrapper {
    display: flex;
    color: var(--c-bkg);
    background: var(--c-3);
    width: var(--viewportWidth);
    margin-top: 2rem;
    padding: 4rem 2rem 6rem 2rem;
    align-items: center;
}

.contact__wrapper header, .contact__wrapper section {
    width: min(60rem, var(--viewportWidth));
    align-items: center;
}

.contact__wrapper section {
    display: flex;
    flex-direction: column;
}

.contact__wrapper .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.no-flexbox-gap .contact__wrapper .form > *:not(:last-child) {
    margin-bottom: 1em;
}

.contact__wrapper h1 {
    text-align: center;
}

.contact__wrapper input {
    border-radius: max(1rem, 16pt);
    padding: 0.5em 1em;
    width: min(35ch, 90vw);
    font-size: max(1rem, 16pt);
    color: var(--c-2);
}

.contact__wrapper textarea {
    color: black;
    border-radius: max(1rem, 16pt);
    padding: 0.5em 1em;
    width: min(35ch, 90vw);
    min-height: 10em;
    font-size: max(1rem, 16pt);
}

.btn--contact {
    text-align: center;
    background: var(--c-2);
    color: white;
    border-radius: 999px;
    text-transform: uppercase;
    font-size: max(1.5rem, 20pt);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding: 0.5em 1.5em;
    transition: 0.2s all;
    gap: 0.5rem;
}

.no-flexbox-gap .btn--contact > *:not(:last-child) {
    margin-right: 0.5rem;
}

.btn--contact svg {
    height: 1em;
}

.btn--contact:hover svg {
    stroke: black;
    transition: 0.2s color, 0.2s 0.2s transform;
    transform: rotateZ(45deg);
}

.btn--contact:hover {
    background-color: white;
    color: black;
}

.btn--contact:disabled {
    opacity: 0.2;
    cursor: none;
    pointer-events: none;
}

.form-alert {
    text-transform: uppercase;
    transition: 0.2s all;
    line-height: 1;
    overflow: hidden;
    opacity: 0;
    display: block;
    margin-top: -1rem;
    max-height: 0;
    width: min(35ch, 90vw);
    font-size: max(1rem, 16pt);
}

.alert--failure {
    border-radius: max(1rem, 16pt);
    padding: 0.5em 1em;
    width: min(35ch, 90vw);
    font-size: max(1rem, 16pt);
    color: white;
    background: red;
}

.alert--success {
    border-radius: max(1rem, 16pt);
    padding: 0.5em 1em;
    width: min(35ch, 90vw);
    font-size: max(1rem, 16pt);
    color: var(--c-2);
    background: limegreen;
}

.form-alert--visible {
    margin-top: 0;
    max-height: max(4 * 1rem, 4 * 16pt);
    opacity: 1;
}