.btn--store {
    text-align: center;
    background: var(--c-3);
    padding: .5rem 1rem;
    color: white;
    display: block;
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 1rem;
}

.download__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.platform__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--p-1);
    border-radius: var(--r-1);
    background-color: var(--c-bkg);
    gap: 1rem;
    border: 0.3rem solid transparent;
    transition: all 0.2s;
}

.no-flexbox-gap .platform__wrapper > *:not(:last-child) {
    margin-bottom: 1rem;
}

.platform__wrapper:hover {
    border-color: var(--c-3);
}

.platform__wrapper:hover .btn--store {
    background: var(--c-1);
}

.platform__wrapper svg {
    max-width: 100%;
    height: 9rem;
}

.platform__wrapper h2 {
    font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
    .download__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
}