footer {
    display: flex;
    color: var(--c-bkg);
    gap: 3rem;
    background: black;
    width: var(--viewportWidth);
    padding: 4rem 2rem 6rem 2rem;
}

.no-flexbox-gap footer > *:not(:last-child) {
    margin-bottom: 3rem;
    margin-right: 3rem;
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer h3 a {
font-size: 2rem;
color: var(--c-3);
transition: .2s all;
}

footer h3 a:hover {
color: var(--c-1);
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 15.5rem;
    row-gap: 0.5rem;
    column-gap: 3rem;
}

.no-flexbox-gap footer ul > *:not(:last-child) {
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
}

footer li {
line-height: 1;
font-size: 1rem;
}

footer li.menu-item {
opacity: 0.6;
}

footer li svg {
    max-height: 1.7rem;
    transition: .2s all;
}

footer li a {
    display: flex;
    align-items: center;
    color: var(--c-bkg);
    gap: 0.5rem;
    transition: .2s all;
}

.no-flexbox-gap footer li a > *:not(:last-child) {
    margin-right: 0.5rem;
}

footer li a:hover {
    color: var(--c-3);
}

footer li a:hover svg {
    stroke: var(--c-3);
}

.copywrite {
    margin-bottom: 9rem;
}

.credit {
    opacity: 0.5;
    font-size: 0.75rem;
}

.credit a {
    color: var(--c-1);
}

.credit a:hover {
    text-decoration: underline;
}
