article.info__wrapper {
    flex-direction: row;
    gap: 3rem;
}

.no-flexbox-gap article.info__wrapper > *:not(:last-child) {
    margin-right: 3rem;
}

.info__wrapper section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__wrapper p {
    font-family: Nunito, sans-serif;
    font-size: max(1.15rem, 10pt);
}

.info__wrapper section p:first-of-type{
    margin-bottom: 3rem;
}

.info__wrapper ul {
    margin-left: 2.5rem;
}

.info__wrapper ul li{
    font-size: max(1.15rem, 12pt);
    font-weight: 700;
    font-style: italic;
    line-height: 1;
    margin-bottom: 2rem;
    list-style: none;
    position: relative;
}

.info__wrapper ul li::before {
    content: '';
    background: url('../images/check.svg');
    height: 1.8rem;
    width: 1.8rem;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    left: -2.3rem;
}