.pricing__content {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.level__wrapper {
    display: grid;
    grid-template-rows: 3rem auto 2.5rem;
    gap: 1rem;
}

.level__wrapper--disabled {
    opacity: 0.25;
}

.level__wrapper header {
    text-align: center;
}

.level__wrapper header span {
    font-size: max(0.75rem, 8pt);
    color: var(--c-2);
    font-family: Nunito, sans-serif;
}

.level__wrapper header h2 {
    color: var(--c-2);
    display: inline-flex;
    flex-direction: column;
    align-items: end;
}

.level__content {
    border-radius: var(--r-1);
    background: var(--c-bkg);
    padding: 2rem 0;
    display: grid;
    grid-template-rows: 3rem auto;
}

.level__content ul {
    display: grid;
    grid-template-rows: repeat(11, 3rem);
    align-items: center;
}

.level__content li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    line-height: 1;
    font-size: 1.5rem;
}

.no-flexbox-gap .level__content li > *:not(:last-child) {
    margin-bottom: 0.25rem;
}

.level__content li svg {
    width: 1.5rem;
}

.level__content li span {
    font-size: max(0.75rem, 8pt);
}

.level__price-wrapper {
    text-align: center;
}

.level__price-wrapper h2 {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
}

.level__price-wrapper span {
    font-size: max(0.75rem, 8pt);
    font-family: Nunito, sans-serif;
}

.level__wrapper .note {
    color: var(--c-bkg);
}

.level-wrapper--heading .level__content {
    background: transparent;
}

.level-wrapper--heading ul {
    justify-items: end;
    align-items: center;
}

.level-wrapper--heading ul li {
    color: var(--c-2);
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    font-size: 1rem;
}

.level-wrapper--trial .level__content {
    background: #DBDBDB;
}

.level__wrapper--trial .note {
    color: gray;
}

.btn--level {
    text-align: center;
    background: var(--c-3);
    color: white;
    display: block;
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.btn--level:hover {
    background: var(--c-bkg);
    color: var(--c-2);
}

.btn--disabled {
    background: var(--c-bkg);
    color: black;
    pointer-events: none;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .level__wrapper--monthly, .level__wrapper--yearly {
        display: none;
    }

    .pricing__content {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
        gap: 1rem;
    }
}