   /****** Style Star Rating Widget *****/


   .reviews-wrapper blockquote {
    font-family: 'DM Serif Display', serif;
    font-size: 2.4rem;
    line-height: .9;
    margin: 0 2rem;
}

.rating-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.no-flexbox-gap .rating-wrapper > *:not(:last-child) {
    margin-right: 1rem;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.no-flexbox-gap .reviews > *:not(:last-child) {
    margin-bottom: 2rem;
}

.review {
    display: flex;
    flex-direction: column;
}

.review__name {
align-self: flex-end;
margin-right: 6rem;
font-size: 1.5rem;
}

.review__name::before {
content: '⁓ ';

}

.rating {
    border: none;
    display: flex;
}

.rating>label:before {
    margin: 0.3rem;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
    color: var(--c-3);
}

.rating>label {
    color: var(--c-3);
}